/* _content/NissayaEditor_Web/Shared/MainLayout.razor.rz.scp.css */
.page[b-uhfkdsqj4v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.topnav[b-uhfkdsqj4v] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-toggler[b-uhfkdsqj4v] {
    background-color: #05163C;
}

.navbar-dark .navbar-toggler[b-uhfkdsqj4v] {
    color: transparent;
    border-color: transparent;
}

.navbar-brand[b-uhfkdsqj4v] {
    font-size: 1.1rem;
    margin-right: 24px;
}

@media (min-width: 641px) {
    .navbar-toggler[b-uhfkdsqj4v] {
        display: block;
    }

    .collapse[b-uhfkdsqj4v] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.main[b-uhfkdsqj4v] {
    flex: 1;
}

.sidebar[b-uhfkdsqj4v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-uhfkdsqj4v] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: left;
}

    .top-row[b-uhfkdsqj4v]  a, .top-row .btn-link[b-uhfkdsqj4v] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-uhfkdsqj4v] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-uhfkdsqj4v] {
        display: none;
    }

    .top-row.auth[b-uhfkdsqj4v] {
        justify-content: space-between;
    }

    .top-row a[b-uhfkdsqj4v], .top-row .btn-link[b-uhfkdsqj4v] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-uhfkdsqj4v] {
        flex-direction: row;
    }

    .sidebar[b-uhfkdsqj4v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-uhfkdsqj4v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-uhfkdsqj4v] {
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/NissayaEditor_Web/Shared/NavMenu.razor.rz.scp.css */

.oi[b-9945fp5k1m] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9945fp5k1m] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9945fp5k1m] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9945fp5k1m] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9945fp5k1m]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-9945fp5k1m]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-9945fp5k1m]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

